// Оформление фона и основного текста
body {
    background-color: $primary-white-color;
    color: $primary-text-color;

    font-family: $primary-font-family;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

// block для картинок
img {
    display: block;
    max-width: 100%;
    height: auto;
}