// Постоянные клиенты
.customers {
    @extend %section;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.customers-container {
    @extend %container;
}

.customers-title {
    @extend %section-title;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
    }
}

.clients {
    @extend %list;
    @extend %centeredFlex;
    flex-wrap: wrap;

    display: flex;
    margin: -15px;

    .item {
    margin: 15px;
    }
}

.clients-link {
    @extend %centeredFlex;

    width: 210px;
    height: 90px;

    transition: border 250ms $timing-function,
    color 250ms $timing-function;

    color: $color-svg;
    fill: currentColor;

    border: 1px solid $color-svg;
    border-radius: 4px;

    &:hover, &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

