// Преимущества
.feature {
    @extend %section;
}

.feature-container {
    @extend %container;

    .feature-list-title {
        text-align: center;
    }
    
}

.feature-title {
    @extend %visually-hidden;
}

.feature-list {
    @extend %list;

    .item:not(:first-child) {
        margin-top: 30px;
    }
}

.feature-image {
    @extend %centeredFlex;

    height: 120px;
    width: 100%;

    background-color: $bg-color;
    border-radius: 4px;
}

.feature-list-title {
    margin-top: 30px;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list-text {
    margin-top: 10px;
    margin-bottom: 0;

    color: $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}