// Оформление логотипа
.logo {   
    color: $secondary-black-color;
    font-family: $font-family-logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    .logo-web {
    color: $accent-color;
    }
}

.footer-logo {
    color: $primary-white-color;
    font-family: $font-family-logo;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    text-decoration: none;

    .logo-web {
    color: $accent-color;
    }
}