// Линия под шапкой
.line {
    border-bottom: 1px solid #ECECEC;
}

// Оформление Портфолио
.projects {
    padding-top: 60px;
    padding-bottom: 60px;
}

.projects-container {
    @extend %container;
}

.projects-title {
    @extend %visually-hidden;
}

.filter {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .item:nth-child(-n + 3) {
        margin-bottom: 15px;
    }

    .item:not(:first-child) {
    margin-left: 8px;
    }
    .item:nth-child(4) {
        margin: 0;
    }

}

.filter-button {
    display: inline-block;
    height: 38px;
    padding: 6px 22px;
    border-radius: 4px;

    color: $primary-text-color;
    background-color: $bg-color;

    transition: background-color 250ms $timing-function,
    color 250ms $timing-function,
    box-shadow 250ms $timing-function;

    cursor: pointer;

    border-style: none;
    font-family: $primary-font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    &:hover, &:focus {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        color: $primary-white-color;
        background-color: $accent-color;
    }
}

.projects-list {
    @extend %list;
}

.projects-list .item {
    width: 450px;

    background-color: $primary-white-color;

    transition: box-shadow 250ms $timing-function;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
    
    &:hover, &:focus {
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
}

.project-link {
    text-decoration: none;

    &:hover .project-overlay,
    &:focus .project-overlay {
    transform: translateY(0);
    opacity: 1;
    }
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    opacity: 0;

    transition: transform 250ms $timing-function, 
    opacity 250ms $timing-function;

    @extend %centeredFlex;

    background-color: rgba(33, 150, 243, 0.9);
}

.project-text {
    display: block;

    margin-top: 0;
    margin-bottom: 0;
    padding: 24px;

    color: $primary-white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.card-content {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    
    padding: 20px 24px;
}

.name-project {
    margin-top: 0;
    margin-bottom: 4px;

    color: $primary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-item {
    margin-top: 0;
    margin-bottom: 0;

    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}