// Чем мы занимаемся
.service {
    @extend %section;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.service-container {
    @extend %container;
}

.service-title {
    @extend %section-title;
}

.service-list {
    display: flex;
    margin-top: 50px;

    @extend %list;

    .item:not(:first-child) {
    margin-left: 30px;
    }

    .item {
    position: relative;

    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    }
}

.service-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    color: $primary-white-color;
    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
}