// Наша команда
.team {
    @extend %section;

    background-color: $bg-color;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team-container {
    @extend %container;
}

.team-title {
    @extend %section-title;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
    }
}

.team-list {
    @extend %list;

    display: inline-block;
    margin-top: 30px;

    text-align: center;

    .item:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }        
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }

    
}

.team-list .item {
    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }    

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 4 * 30px) / 4);
        } 

        padding-bottom: 24px;

        background-color: $primary-white-color;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        overflow: hidden;
}

.team-name {
    margin-top: 30px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.specialty {
    margin-top: 10px;
    margin-bottom: 0;

    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

.network {
    @extend %list;
    @extend %centeredFlex;
    margin-top: 16px;

    .network-item:not(:first-child) {
    margin-left: 10px;
    }
}

.network-link {
    display: inline-block;
    height: 44px;
    width: 44px;    
    padding: 12px;
    border-radius: 50%;

    color: $color-svg;
    fill: currentColor;

    transition: background-color 250ms $timing-function,
    color 250ms $timing-function;

    &:hover, &:focus {
        background-color: $accent-color;
        color: $primary-white-color;
    }
}