// Обнуление стилей для списков
%list {
    padding: 0;
    margin: 0;

    list-style: none;
}

// Скрытие элементов
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Контейнер для центрирования контента
%container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Флекс
%centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Оверлей для Героя
%overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(47,48,58,0.8);
    background-image: 
        linear-gradient(rgba(47,48,58,0.8), rgba(47,48,58,0.8)),
        url("../img/bg-hero.jpg");   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Оформление секций
%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%section-title {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}