$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-black-color: #000000;
$bg-color: #f5f4fa;
$bg-color-footer: #2f303a;
$color-svg: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-logo: Raleway, sans-serif;
$primary-font-family: Roboto, sans-serif;
