$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$secondary-black-color: #000000;
$bg-color: #F5F4FA;
$bg-color-footer: #2F303A;
$color-svg: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-logo: Raleway, sans-serif;
$primary-font-family: Roboto, sans-serif;